<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="kelimeUygulamasi.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="kelimeUygulamasi.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <kelimeUygulamasi.Properties.Settings1>
            <setting name="QuizSoruSayisi" serializeAs="String">
                <value>10</value>
            </setting>
        </kelimeUygulamasi.Properties.Settings1>
        <kelimeUygulamasi.Settings1>
            <setting name="QuizSoruSayisi" serializeAs="String">
                <value>10</value>
            </setting>
        </kelimeUygulamasi.Settings1>
    </userSettings>
</configuration>